.header {
  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }

  &__menu {
    display: flex;
    margin-left: auto;
  }
}