.header {
  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 50px;
    width: 50px;
  }

  &__menu {
    display: flex;
  }
}